.bg-form-img {
  padding: 30px 0 40px;
  position: relative;
  margin-top: 40px;
  background-image: linear-gradient(45deg, #100906, #100906);
}
.custom-textarea {
    padding: 14px 24px;
    font-size: 15px;
    border: none;
    box-shadow: 0px 0px 14px -4px #923c6d82;
    border-color: #a23f6d;
    border-bottom: none;
    width: 100%;
    background: transparent;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 7px;
    height: 80px !important;
    margin-bottom: 22px;
}
input.custom-input.form-control{
    box-shadow: 0px 0px 14px -4px #923c6d82;
    border-color: #923c6d;
    border-bottom: none;
    margin-bottom: 19px;
    border-radius: 28px;
    padding: 10px 24px;
    height: 55px !important;
    width: 100%;
    background: transparent;
    font-weight: 400;
    color: #fff;
    border: none;
}
textarea.custom-textarea.form-control:active{
   box-shadow: 0px 0px 14px -4px #502E6D !important;
    border-color: #502E6D !important;
    border-bottom: none !important;
    border: none !important;
}
.bg-light-2 {
  background-image: radial-gradient(ellipse at bottom right, #07030775 0%, #0a050b 44%, #06040475 82%), url(../appImg/tech-3-magenta.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  margin-bottom: 40px;
  height: 125vh;
}

button.btn.sbmt-xx {
    background: transparent;
    width: 141px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 31px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
}
.form-box-1 {
    background-image: radial-gradient(ellipse at bottom right, #5e174d87 0%, #362e6d73 44%, #e91e633b 68%), url(../appImg/Tech-Background-Neutral-1.webp);
    background-size: cover;
    background-position: center;
    border: 1px solid;
    border-radius: 12px;
    padding: 20px 20px;
    
}
.form-box-1 {
    background-size: cover;
    background-position: center;
    border: 2px solid #502e6d;
    border-radius: 12px;
    padding: 12px 20px;
    box-shadow: 0px 2px 18px -4px #502E6D;
    
}

.main-black-shades-xx {
  background: url(../appImg/Tech-Background-Neutral-1.webp) no-repeat center center/cover;
  padding: 50px 25px;
  position: relative;
  height: 88vh;
  overflow: hidden;
}

.overlay-8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg, #2a0b27 0%, #160a18b0 35%);
    z-index: 2;
    pointer-events: none;
}
.row.tp-pp {
    margin-top: 80px;
    margin-bottom: 40px;
}

.custom-input:focus,
.custom-textarea:focus {
  border-color: #0d6efd;
  outline: none;
  box-shadow: none;
}

.custom-btn {
  background-color: #502e6d;
  color: #fff;
  padding: 10px 19px;
  border: none;
  border-radius: 37px;
  transition: transform 0.3s ease;
  font-size: 15px;
  font-weight: 600;
}

.custom-btn:hover {
    transform: scale(1.05);
    background-color: #3e2064;
}
   
.row.tp-1{
    margin-top: 40px;
    margin-bottom: 40px;
} 
#opo-h{
   margin-top: -20px; 
}   
h6.review-head{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 0px;
    line-height: 40px;
}
p.test-para {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 37px;
    width: 636px;
    margin-right: auto;
    margin-left: auto;
}
.owl-item.active.center{
    padding: 3px !important;
}
.txt-box-1 p {
    color: #434343;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    width: 508px;
    margin-top: 13px;
}

p.med-2{
    color: #9c3d6d;
    font-size: 16px;
    font-weight: 700;
    margin: 6px 0px 18px;
}
p.paid-fstr{
    color: #9c3d6d;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px 4px;
}
.head-spe{
    font-size: 36px;
    font-weight: 700;
    color: #502e6d;
    margin: 0px;
    line-height: 46px;
}
h4.mdcl-headng {
    font-size: 28px;
    font-weight: 700;
    color: #502e6d;
    margin: 0px;
    line-height: 37px;
}   
ul.feature-list li svg {
    width: 32px;
    height: auto;
}    
.testimonial-box {
  max-width: 350px;
  padding: 20px;
  border-radius: 12px;
  font-family: sans-serif;
  box-shadow: 0px 2px 18px -4px #522e6d;
  border-color: #82386d;
  border-radius: 9px;
  background: #100906;
  border: 1px solid #9d3e6d;
}
.owl-item.cloned{
    padding: 4px !important;
}
.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-img {
  width: 40px !important;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.user-meta .user-name {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.user-meta .review-date {
  font-size: 12px;
  color: #858585;
}

.google-logo {
    width: 20px !important;
    height: auto;
}

.testimonial-rating {
  display: flex;
  align-items: center;
  margin: 15px 0 10px;
}

.stars {
  color: #fbc02d;
  font-size: 18px;
  margin-right: 5px;
}
.test-black{
  background: #100906 !important;
  margin-top: 40px;
}
.verified-icon {
  color: #673AB7;
  font-size: 16px;
}

.testimonial-text {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #a13e6d;
  text-decoration: none;
}
.read-more:hover {
  color: #973c6da1;
}

/*  */
.bg-dark-img {
    background: linear-gradient(0deg, #100906 0%, rgb(8 4 7 / 35%) 35%), url(../appImg/home-hero.webp) no-repeat center center / cover;;
    min-height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 27px 20px;
    color: #100906;
    text-align: center;
}
.hero-text-box {
  max-width: 1082px;
}
.hero-text-box h4 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0px;
    color: #ffff;
}
.chsng-para{
    font-size: 17px !important;
    font-weight: 300 !important;
    line-height: 34px !important;
    text-align: center !important;
    color: rgb(196 196 196) !important;
}
.hero-text-box p {
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 600;
    color: #973c6d;
}
.box-mdle-btn {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.cnt-btn {
    background-color: #0b0b0b00;
    color: #ffff;
    padding: 7px 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.cnt-btn:hover {
  transform: scale(1.05);
  background-color: #e6e6e6;
  color:#502e6d;
}

.hex-layer-3 {
    display: grid;
    margin: -18px 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 0fr);
}
.hex {
    height: 100px;
    width: 100px;
    align-self: center;
    background: #a7406d;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    transition: background 0.4s;
}
.elementor img {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 100%;
}
.hex-layer-4 {
    display: grid;
    margin: -18px 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 0fr);
}
.hex-layer-5 {
    display: grid;
    justify-content: center;
    margin: -18px 0px;
    align-content: center;
    grid-template-columns: repeat(5, 0fr);
}
.hex-layer-4 {
    display: grid;
    margin: -18px 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 0fr);
}
.hex-layer-3 {
    display: grid;
    margin: -18px 0px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 0fr);
}

.grid-box-2 {
    margin-bottom: 40px;
    margin-top: 41px;
}
.bg-dark-1 {
    background-color: #100906;
    padding: 20px 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
.row.md-h{
    margin-bottom: 40px;
}
.box-txt-mdle h4 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 17px;
    line-height: 1.3;
    margin-top: 0px;
}
a.cnt-btn-11 {
    background-color: transparent;
    color: #4254a4;
    padding: 7px 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid #4254a4;
    font-size: 16px;
    cursor: pointer;
}
a.cnt-btn-11:hover {
  transform: scale(1.05);
  background-color: #4254a4;
  color: #fff;
}

a.cnt-btn-11 i {
  font-size: 16px;
}
a.cnt-btn-audit {
    background-color: transparent;
    color: #502e6d;
    padding: 7px 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid #502e6d;
    font-size: 16px;
    cursor: pointer;
}
a.cnt-btn-audit:hover {
  transform: scale(1.05);
  background-color: #502e6d;
  color: #fff;
}
a.cnt-btn-audit i {
  font-size: 16px;
}



/* --- Core Styling --- */
.row.mr-top{
  margin-top: 75px;
}
.bg-light-1 {
    background-image: linear-gradient(0deg, #2a0b27 0%, #2c0d259c 35%), url(../appImg/tech-3-magenta.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-bottom: 40px;
    background-blend-mode: color-burn;
}

.bg-light-2Img {
    background-image: radial-gradient(ellipse at bottom right, #07030775 0%, #0a050b 44%, #06040475 82%);
    min-height: 92vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.bg-light-22Img {
    background-image: radial-gradient(ellipse at bottom right, #07030775 0%, #0a050b 44%, #06040475 82%);
    min-height: 120vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.timeline li {
    padding: 14px 24px;
    margin-bottom: 20px;
    border-left: 3px solid #a13e6d;
    position: relative;
    transition: 0.3s;
    list-style: none;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.timeline li::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -9px;
  width: 15px;
  height: 15px;
  background-color: #a13e6d;
  border-radius: 50%;
}
.row.align-items-center
 {
    margin-top: 45px;
}
h4.rvnu-mngmnt {
    margin: 0px 0px 12px;
    font-size: 27px;
    color: #fff;
}
p.rvnue-para {
    font-size: 19px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
}

#particles-js-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.dual-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}
.dual-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #c1c1c1 50%, #923b6d 50%);
  border-radius: 2px;
}
.sqre-icnz {
    position: relative;
    border: 1px solid #ac416d;
    padding: 40px 20px 20px;
    border-radius: 10px;
    background-color: #100906;
    text-align: center;
    margin-bottom: 80px;
    height: 236px;
    box-shadow: 0px 2px 18px -4px #9c27b063;
}
.icn-rotated-box {
 position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 80px;
    height: 80px;
    background: #100906;
    border: 1px solid #ac416d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0px 2px 18px -4px #ac416d57;
}
.icn-rotated-box svg {
    width: 36px;
    height: 36px;
    transform: rotate(-45deg);
    color: #ffff !important;
}
h4.dual-underline{
    margin-top: 30px;
    color: #ffff;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 13px;
}
h4.rcp-hos {
    font-size: 24px;
    margin: 2px 0px 17px;
    color: #502e6d;
    font-weight: 700;
}
h4.icn-content {
    margin-top: 53px;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
}
.icn-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #d2d1d1;
}
.text-purple {
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    margin: 0px 0px 12px;
}
.para-left {
  font-size: 14px;
  color: #555;
  margin: 0;
}
h4.fw-bold {
    font-size: 36px;
    color: #fff;
    margin: 0px 0px 20px;
    line-height: 44px;
}
.ircm-para{
  color: #ffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 13px;
}
.img-icon {
  width: 50px;
  object-fit: contain;
}
.mdle-img {
  max-height: 300px;
  object-fit: contain;
}
.text-part {
    margin-top: 7px;
}
.ue_pbullet_graphicel {
  background: #973c6d;
  padding: 11px 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
}

.bg-spcialities-shades {
  background: url(../appImg/specialities-bnr.webp) ;
 background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  min-height: 400px;
}
.bg-spcialities-shades::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #100906 0%, rgba(94, 17, 77, 0.4) 35%);
  z-index: 1;
  pointer-events: none;
}
.gridz-boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

.one-xx {
    background-color: #100906;
    color: #fff;
    padding: 21px 12px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: transform 0.7s ease;
    height: 160px;
    border: 1px solid #973c6d;
    box-shadow: 0px 2px 18px -4px #502e6d;
}

.one-xx p,
.one-xx svg {
  transition: opacity 0.7s ease;
}

.one-xx:hover {
  transform: scale(1.07);
}
.one-xx svg {
    width: 60px;
}
.one-xx::before {
      content: '';
    position: absolute;
    inset: 0;
    background-color: #73356d;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 1;
}
.one-xx:hover::before {
  opacity: 1;
}
.one-xx:hover p,
.one-xx:hover svg {
  opacity: 0;
}
.one-xx p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 23px;
    margin-top: 10px;
}
.show-xx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: opacity 0.7s ease;
  padding: 12px 0px;
  width: 139px;
}

.one-xx:hover .show-xx {
  opacity: 1;
}
img.spec-100-icons {
    width: 40%;
}
.show-xx h4 {
    font-size: 16px;
    padding: 0px !important;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 992px) {
  .gridz-boxes {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}
@media (max-width: 576px) {
  .gridz-boxes {
    grid-template-columns: repeat(1, 1fr); /* 1 column */
  }
}
h4.sng-hed {
  margin: 30px 0px 10px;
  font-size: 31px;
  font-weight: 800;
  color: #502e6d;
}

p.fnts-pra{
  color: #434343;
  font-size: 19px;
  font-weight: 600;
}
.mdx-form {
  text-align: center;
  margin-bottom: 40px;
}
.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
}

.user-formz {
  width: 100%;
  padding: 4px 45px 8px 15px;
  font-size: 16px;
  border-radius: 33px;
  border: 2px solid #9c3d6d;
  height: 60px;
  margin-top: 18px;
}
.submit-icon-btn {
    position: absolute;
    top: 39%;
    right: 10px;
    transform: rotate(-31deg);
    background: none;
    border: none;
    font-size: 28px;
    color: #9c3d6d;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}
h4.hdz-new {
    font-size: 30px;
    font-weight: 600;
}
.center-cntnt-100 h4 {
    text-align: center;
    margin: 100px 0px 24px;
    font-size: 25px;
    font-weight: 700;
    color: #502e6d;
}
.center-cntnt-100 p {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #434343;
}
.row.mr-xxx {
    margin: 40px 0px 11px 0px;
}
img.left-img-xx {
  width: 100%;
}
.shades-opacity::before {
  content: '';
  position: absolute;
  inset: 0;
  background:rgb(12 8 8 / 44%);
  z-index: 2;
  pointer-events: none;
}
.shades-opacity .container {
  position: relative;
  z-index: 3;
}
.box-mdz-half h4 {
    margin: 0px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.box-mdz-halfz-head-200 h4 {
    margin: 10px 0px 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.bg-black-shadesxx {
  background: #100906;
  height:167vh;
  padding: 52px 0px 0px;
}
.show-xx h4
 {
    font-size: 17px;
}
/* end */
.circle-heading {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    color: #ffff;
    margin-bottom: 6px;
    text-align: left;
    line-height: 17px;
    width: 317px;
}
.one-box-des {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 13px;
}

.one-box-des p {
  font-size: 17px;
  font-weight: 600;
  color: #434343;
  margin: 0;
}
.icon-specialtiesgeneral-surgery:before {
    content: '\e805';
}
.one-icon {
  width: 57px;
  height: 57px;
  flex-shrink: 0;
}

.circle-heading22 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    color: #ffff;
    margin-bottom: 6px;
    text-align: left;
    line-height: 17px;
    width: 458px;
}
.row.custom-row{
  margin-top: 66px;
}
.circle-line {
    width: 46px;
    height: 2px;
    background-color: #ffff;
    position: relative;
    margin-right: 13px;
    margin-left: 23px;
}
.circle-line::before {
    content: '';
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
}
.line-wrap {
  display: flex;
  gap: 15px;
     align-items: flex-start;
    margin: 0px 0px 30px;
}
.text-part p {
  color: #f1f0f0;
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 300px;
}

/*  */
/* Background */
.bg-service-detail {
  background: url('../appImg/Affordable-Medical-Billing-Services-Banner.webp') no-repeat center center / cover;
  min-height: 110vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-service-source {
  background: url('../appImg/Outsource-Medical-Billing-Services.webp') no-repeat center center / cover;
  min-height: 110vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-service-about{
  background: url('../appImg/MicrosoftTeams-image-16.webp') no-repeat center center / cover;
  min-height: 66vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-service-privacy{
  background: url('../appImg/ircm-privacy-policy.webp') no-repeat center center / cover;
  min-height: 66vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-service-contact {
  background: url('../appImg/ircm-contact-us.webp') no-repeat center center / cover;
  min-height: 65vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-overlay-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #2a0b27 0%, #190615d1 35%);
    z-index: 1;
}
.icon.icon-phone-call1::before, .icon.icon-phone-call1::before {
  content: "\ea53";
}
.service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #2a0b27 0%, #190615d1 35%);
    z-index: 1;
}

.bg-service-detail-cre{
    background: url('../appImg/Credentialing-Enrollment.webp') no-repeat center center / cover;
    min-height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-service-detail-deni{
    background: url('../appImg/Denial-Management-Services-Banner.webp') no-repeat center center / cover;
    min-height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-service-detail-network{
    background: url('../appImg/out-of-network-bg-img.webp') no-repeat center center / cover;
    min-height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-service-detail-revenue{
    background: url('../appImg/Medical-Revenue-Cycle-Management-Services.webp') no-repeat center center / cover;
    min-height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-service-detail-conslting{
    background: url('../appImg/iRCM-Servises-Banner-Img.webp') no-repeat center center / cover;
    min-height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-overlay-6 {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #2a0b27 0%, #190615d1 35%);
    z-index: 1;
}
.service-overlay-5 {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #2a0b27 0%, #190615d1 35%);
    z-index: 1;
}
.service-overlay-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg, #2a0b27 0%, #10040dd1 35%);
    z-index: 1;
}
.service-overlay-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2a0b27 0%, #190615d1 35%);
  z-index: 1;
}
.service-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2a0b27 0%, #190615d1 35%);
  z-index: 1;
}
.radus-crcle {
  list-style: none;
  padding: 0;
  margin: 0;
}
.svg-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.box-svg-100 {
  flex-shrink: 0;
  border-right: 2px solid #9d3e6d;
  padding-right: 22px;
}
.mdle-xxx h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 0px 0px 12px;
}
.text-box-cont-about {
  text-align: center;
  width: 94%;
  max-width: 100%;
  margin: 0 auto;
  margin-left: 50px;
}
p.about-para {
  font-size: 17px;
  font-weight: 500;
  color: #434343;
  text-align: justify;
  line-height: 30px;
}
.privacy-list {
  list-style: none;           
    padding-left: 8px;
  margin: 0;
}
.privacy-list li {
    position: relative;
    padding-left: 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    color: #434343;
    margin-bottom: 14px;
}
.privacy-list li::before {
     content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 13px;
    height: 13px;
    background-color: #502e6d;
    border-radius: 50%;      
}


.topr-about{
  margin-top: 30px;
}
.mrgn-left-100{
  margin-left: 70px;
}
.mdle-xxx p {
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 55px;
}
.img-svg {
  width: 60px;
  height: auto;
  display: block;
  margin-top: 12px;
}
.svg-contnt {
    text-align: left;
    margin-left: 11px;
}
.svg-contnt h4 {
    margin: 0px 0px 11px;
    font-size: 18px;
    font-weight: 500;
}
.svg-contnt p {
    font-size: 16px;
}

a.billing-bg {
    display: inline-block;
    background: #502e6d;
    color: #fff;
    padding: 10px 17px;
    margin: 0px 0px 0px !important;
    border-radius: 28px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
a.billing-bg:hover {
  transform: scale(1.05);
}
img.iconz-arrow-100 {
  width: 37px;
}
/* Base button style (transparent) */
.btn-hosptal,
.btn-physician {
background-color: transparent;
    color: #9d3e6d;
    border: 1px solid #9d3e6d;
    border-radius: 7px;
    padding: 8px 14px;
    font-size: 15px;
    transition: 0.3s ease;
}


.mrgnz-100 {
  margin-top: 20px;
}
.crcle-fnt {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  color: #434343;
  font-size: 17px;
  font-weight: 400;
} 

.crcle-fnt::before {
  content: '✔';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: #a7406d;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rnve-fnt {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
} 

.rnve-fnt::before {
  content: '✔';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: #a13e6d;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-content {
    max-width: 1100px;
    margin: auto;
    text-align: left;
    margin-top: 190px;
}
.title-main {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #fff;
}
.title-main-2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 40px;
    color: #fff;
}
.title-sub-2 {
    font-size: 34px;
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: 700;
    line-height: 39px;
     color: #fff;
}
.title-sub {
    font-size: 36px;
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: 700;
     color: #fff;
}
.description {
    font-size: 15px;
    margin-bottom: 17px;
    line-height: 1.4;
    width: 480px;
    text-align: justify;
     color: #fff;
}
.description-spcialities {
    font-size: 15px;
    margin-bottom: 17px;
    line-height: 1.4;
    width: auto;
    text-align: justify;
    margin-top: 15px;
}
.expert-call {
    font-size: 15px;
    display: inline-block;
    color: #fff;
    background-color: #502e6d;
    padding: 11px 15px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    transform: scale(1);
    cursor: pointer;
    margin-top: 15px;
}

.expert-call i {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.expert-call:hover {
 background-color: #502e6d;
  color: #fff;
  transform: scale(1.05);
}

.expert-call:hover i {
  transform: translateX(4px);
}

.feature-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    text-align: left;
    float: left;
}
.feature-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    font-size: 16px;
    color: #fff;
}
.feature-list img {
  width: 28px;
  height: 28px;
}
.highlight {
    color:#9c3d6d;
    font-size: 18px;
    font-weight: 600;
}
.btn-group {
  gap: 7px;
  flex-wrap: wrap;
}
.detail-btn-100 {
  background-color: #502e6d;
  color: #fff;
  border: 2px solid #502e6d;
  padding: 11px 13px;
  height: 42px;
  cursor: pointer;
}
.detail-btn-100:hover {
  background-color: #f9f6f4;
  border: 2px solid #502e6d;
  color: #502e6d;
}
.btn-cont-detail {
    border: 2px solid #4254A4;
    color: #fff;
    height: 40px;
    padding: 0px 17px;
    margin-top: 2px;
    justify-content: center;
    background: #4254A4;
}
.btn-cont-detail:hover {
    background-color: #fff;
    color: #4254A4;
    border:2px solid #4254A4;
    padding: 0px 13px;
}
.detail-btn-100, .btn-cont-detail {
    display: inline-flex;
    align-items: center;
    gap: 0;
    transition: all 0.3s ease;
    border-radius: 39px;
    font-size: 15px;
    font-weight: 500;
   
}
.icon {
  display: inline-block;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.icon-arrow {
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  white-space: nowrap;
}
.detail-btn-100:hover .icon,
.btn-cont-detail:hover .icon {
    width: 16px;
    padding: 0px 3px;
}
.detail-btn-100:hover .icon-arrow,
.btn-cont-detail:hover .icon-arrow {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 576px) {
    .title-main {
      font-size: 28px;
      font-weight: 500;
    }
    .title-sub {
        font-size: 20px;
      font-weight: 500;
    }
}

/* FORM */
.fxed-p-f{
  padding-right: 0px;
  margin-top:160px;
  margin-left: 20px;
}
.col-md-6.p-rmve {
  padding: 0px 4px !important;
}
.col-md-12.p-rmve {
    padding: 0px 5px !important;
}
form {
  margin: 0px;
} 
.mb-3 {
    margin-bottom: 1rem !important;
}
.transparent-form {
    background-color: rgb(16 9 6 / 35%) !important;
    border: 2px solid #bebebe96 !important;
    border-radius: 10px !important;
    max-width: 490px !important;
    margin-right: 2px !important;
    padding: 30px 23px !important;
    margin: 0px !important;
    box-shadow: rgb(156 39 176 / 28%) 0px 5px 15px !important;
}
.frm-btn-10 {
  background: #502e6d;
  color: #fff;
  border: 1px solid #502e6d;
  padding: 8px 25px;
  border-radius: 23px;
  font-size: 15px;
  margin: 0px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.frm-btn-10:hover {
  transform: scale(1.05);
}

.custom-select-white {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.6rem 0.75rem;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}
.custom-input {
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 6px;
}
.custom-select-white:focus {
  border-color: #007bff;
  box-shadow: none;
  outline: none;
}
select.form-select.custm-input-bnr {
    border-radius: 6px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    height: 48px !important;
    margin-bottom: 10px;
    padding: 2px 11px;
}
input.form-control.custm-input-bnr {
  background-color: #fff;
  color: #101010 !important;
  border: 1px solid #ccc;
  width: 100%;
  padding: 4px 13px;
  height: 48px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
}
.transparent-form .form-control,
.transparent-form .form-select {
    background-color: #fff;
    color: #101010 !important;
    border: 1px solid #ccc;
    width: 100%;
    padding: 4px 10px;
}

.transparent-form .form-control::placeholder {
  color: #101010;
}

.transparent-form .form-label {
  font-weight: 500;
}

.transparent-form .form-control:focus,
.transparent-form .form-select:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-color: #66afe9;
  outline: none;
  box-shadow: none;
}
.ggle-box {
  display: flex;
  align-items: stretch;
  width: 100%;
  min-height: 94px;
  background-color: #2a0b27;
}
.ggle-left {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 3px 20px 7px 144px;
  color: #fff;
}
.ggle-left-2 {
     flex: 1;
    display: flex;
    align-items: center;
    padding: 3px 22px 7px 246px;
    color: #fff;
}
.row.mrg-20 {
  margin-top: 46px;
}
.ggle-right {
    width: 1%;
    min-width: 29px;
    background-color: #2a0b27;
}
.right-cont-11 p {
    color: #434343;
    font-weight: 600;
    font-size: 17px;
}
.right-cont-11 {
    text-align: left;
}
span.elementskit-info-box-title {
    color: #434343;
    font-weight: 800;
    font-size: 20px;
}
.set-phonez {
    display: -webkit-box;
    justify-content: revert-layer;
    padding-left: 11%;
    position: relative;
    top: 15px;
}
i.fa.fa-phone.fx-xx {
    font-size: 29px;
    transform: rotate(98deg);
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 13px;
    color: #502e6d;
}
.ggle-head {
  font-size: 34px !important;
  font-weight: 800;
  line-height: 36px;
  margin: 0;
}

.ggle-break {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    clip-path: polygon(9% 0%, 82% 0, 76% 108%, 1% 100%);
    z-index: 2;
    text-align: center;
}
.ggle-rvew {
  width: 420px !important;
  height: auto;
}

p.mix-mdz{
    font-size: 17px !important;
    font-weight: 300 !important;
    line-height: 34px !important;
    text-align: center !important;
    color: #fff !important;
}
.sldez-box-100
 {
    margin-bottom: 35px;
}
.med-srv-title h4{
    font-size: 22px;
    color: #ffff;
    font-weight: 700;
    text-align: left;
    width: 270px;
    margin-top: 37px;
}
.med-srv-header.icon-half svg path {
  fill: #fff;
}
.med-srv-box.dark-full {
     background-color: #502e6d;
    padding: 25px 25px;
    transition: all 0.4s ease;
    position: relative;
    height: 222px;
    overflow: hidden;
    text-align: center;
    border-radius: 14px;
    text-align: left;
}
.midx-xx {
    text-align: center;
}
p.para-sldr-200{
    color: #434343;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-top: 15px;
}
.med-srv-header,
.med-srv-title {
  position: relative;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.med-srv-header {
  margin-bottom: 10px;
}

.med-srv-desc {
 position: absolute;
  top: 50%;
  left: 0; /* Start from left offscreen */
  transform: translateX(-100%); /* Shift fully to the left */
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 1;
  color: #fff;
  padding: 0 10px;
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.med-srv-box.dark-full:hover .med-srv-header,
.med-srv-box.dark-full:hover .med-srv-title {
  opacity: 0;
  visibility: hidden;
}

.med-srv-box.dark-full:hover .med-srv-desc {
    left: 50%; /* Move to center */
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
.med-srv-box.dark-full:hover {
    background-color: #2e143e;
}
.grid-box-1 img {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 525px) {
  .service-content{
    margin-top: 0px;
  }
  .description {
    font-size: 15px;
    margin-bottom: 17px;
    line-height: 1.6;
    width: auto;
    text-align: justify;
  }
  .title-main{
      margin-top: 0px;
  }
  ul.feature-list li svg {
    width: 25px;
    height: auto;
  }
  .feature-list li {
    font-size: 14px;
  }
  .highlight {
    color: #9c3d6d;
    font-size: 15px;
    font-weight: 600;
  }
  .detail-btn-100 {
    padding: 9px 14px;
    height: 38px;
  }
  .btn-cont-detail {
    height: 37px;
    padding: 0px 20px;
    margin-top: 0px;
  }
  .ggle-box{
    display: none;
  }
  .bg-service-detail {
    min-height: 72vh;
  }
  .main-hero-content {
    padding: 0px 10px;
  }
  p.med-2 {
    font-size: 14px;
    margin: 6px 0px 10px;
  }
  h4.mdcl-headng {
    font-size: 24px;
    margin: 0px;
    line-height: 29px;
  }
  .txt-box-1 p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
    margin-top: 5px;
  }
  .text-purple {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 12px;
  }
  h4.fw-bold {
    font-size: 19px;
    margin: 0px 0px 10px;
    line-height: 32px;
  }
  .ircm-para {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
  }
  .ue_pbullet_graphicel {
    padding: 2px 11px;
    display: flex;
    width: 54px;
  }
  .circle-line {
    width: 33px;
    height: 2px;
    margin-right: 8px;
    margin-left: 10px;
  }
  .circle-line::before {
    left: -17px;
    top: 50%;
    width: 10px;
    height: 10px;
  }
  .circle-heading {
    font-weight: 600;
    font-size: 15px;
    width: auto;
  }
  .text-part p {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    width: auto;
  }
  .box-txt-mdle h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  a.cnt-btn-11 {
    padding: 6px 11px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #4254a4;
  }
  p.paid-fstr {
    font-size: 14px;
    margin: 0px 0px 0px;
  }
  .head-spe {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    line-height: 32px;
  }
  div#hexagon a img {
    width: 42px;
    height: 42px;
  }
  .hex {
    height: 80px;
    width: 72px;
  }
  .hex-layer-3 {
    margin: -18px 0px;
  }
  .hero-text-box p {
    font-size: 14px;
  }
  .hero-text-box h4 {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 7px;
  }
  .chsng-para {
    font-size: 15px !important;
    font-weight: 300 !important;
    line-height: 28px !important;
  }
  .cnt-btn {
    padding: 4px 13px;
    font-weight: 500;
    border: 1px solid #ffffff;
    font-size: 14px;
  }
  input.custom-input.form-control {
    margin-bottom: 20px;
    padding: 7px 20px;
    height: 50px !important;
    font-weight: 400;
    font-size: 13px;
  }
  .custom-textarea {
    padding: 9px 20px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .custom-btn {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
  }
  .desktop-frm-xx{
    display: none;
  }
  .row.tp-1 {
    margin-top: 20px;
  }
  .fxed-p-f {
    margin-top: 9px;
  }
  .title-main-2 {
    font-size: 28px;
    margin-top: 0px;
    font-weight: 500;
  }
  .title-sub-2 {
    font-size: 20px;
    font-weight: 500;
  }
  .bg-service-detail-cre {
    min-height: 80vh;
  }
  .custom-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: 65px;
  }
  .custom-row > div {
      flex: 0 0 100%; /* mobile: ek box full width */
      max-width: 100%;
  }
  .custom-row::-webkit-scrollbar {
      height: 10px; 
  }
  .custom-row::-webkit-scrollbar-thumb { 
    background: #ccc; 
    border-radius: 10px !important; 
  }
  .bg-light-2 {
    height: 78vh;
  }
  .row.custom-row{
    margin-top: 0px;
  }
  .sqre-icnz {
    margin-bottom: 58px;
  }
  .one-icon
  {
      width: 41px;
      height: 40px;
      height: 49px;
      flex-shrink: 0;
  }
  .one-box-des p {
    font-size: 15px;
  }
  .icon-wrap svg {
    height: 36px;
  }
  .one-box-des {
    margin-bottom: 14px;
    margin-top: 0px;
  }
}
